<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="jQuery" version="1.6.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.ML" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.ML.Recommender" version="0.21.1" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.2.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="PayPal" version="1.9.1" targetFramework="net472" />
  <package id="PayPalCheckoutSdk" version="1.0.4" targetFramework="net472" />
  <package id="PayPalCoreSDK" version="1.7.1" targetFramework="net472" />
  <package id="PayPalHttp" version="1.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Tensors" version="8.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net472" />
</packages>